@using SportStore.HtmlHelpers;
@model SportStore.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

@foreach (var product in Model.Products)
{
    Html.RenderPartial("ProductSummary", product);
}
<div class="pager">
    Page: @Html.PagingLinks(Model.CurrentPage, Model.TotalPagesCount, x =>Url.Action("List", new {category = Model.CurrentCategory, pageNumber = x}))
</div>
