@using SportStore.HtmlHelpers;
@model IEnumerable<DomainModel.DAL.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

@foreach (var product in Model)
{
    <div class="item">
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}
<div class="pager">
    Page: @Html.PagingLinks((int)ViewData["CurrentPage"], (int)ViewData["TotalPages"], x =>Url.Action("List", new {pageNumber = x}))
</div>
