@model SportStore.Models.ProductListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Styles/styles.css"/>
    <title>@ViewBag.Title</title>
</head>
    <body>
        <div id="header">
            <div class="title">SPORTS STORE  <span class="subtitle">@(string.IsNullOrEmpty(Model.CurrentCategory)? "" : Model.CurrentCategory)</span></div>
        </div>
        <div id="categories">
            @{ Html.RenderAction("Menu", "Navigation", new { selectedCategory = Model.CurrentCategory });}
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </body>
</html>
